name: Run tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby_version: [2.4.x, 2.5.x, 2.6.x, 2.7.x]
    env:
      LANG: en_US.UTF-8
    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby ${{  matrix.ruby_version }}
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
    - name: Install dependencies
      run: |
        gem install bundler --no-document
        bundle install --jobs 4 --retry 3
    - name: Run test
      run: |
        bundle exec rake
